node_modules
.next
.DS_Store
.env
website/dist
data
storybook-static
storybook-screenshots
coverage
*.tsbuildinfo
/uploads

.terraform/
terraform.tfstate*
dist/

## Panda
styled-system
styled-system-studio

